#post-body-content {
	margin: 0;
}

#submitdiv.postbox-with-fw-options > .inside {
	margin: 0 !important;
	padding: 0 !important;
}

#submitdiv.postbox-with-fw-options > .inside .fw-backend-options-last-border-hider {
	display: none;
}

#submitdiv.postbox-with-fw-options > .inside .fw-backend-option-design-default:last-child {
	border-bottom-width: 0;
}