/* controls */

.fw-option-type-form-builder .fw-form-builder-item-type-form_header_title{
	background: #fff;
	border: 1px solid #EAEAEA;
	padding: 20px;
}

div[data-builder-item-type="form-header-title"]{
	display: none !important;
}

.fw-form-item-preview-title {
	font-size: 1.3em;
	margin-bottom: 6px;
}